In [2]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\roaming\python\python311\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector as sql

In [3]:
mydb = sql.connect(
    host="localhost",
    user="root",
    password="root@123",
    database = "pozent"
)

In [4]:
mycursor = mydb.cursor()

In [19]:
A = "INSERT INTO branch_master(booking_id,CDMS,bookingstatus)values(2,200,RAJA)"

In [22]:
A

'INSERT INTO branch_master(booking_id,CDMS,bookingstatus)values(2,200,RAJA)'

In [32]:
mycursor.execute("INSERT INTO branch_master(booking_id, CDMS, bookingstatus) VALUES (2,200,'RAJA')")

In [34]:
mycursor.execute("SELECT * FROM branch_master ")
result = mycursor.fetchall()
mydb.cmd_refresh(1)
print(result)


# for x in result:
#     print(x)

[(1, 100, 'success'), (2, 200, 'RAJA')]

In [7]:
mycursor.execute("CREATE DATABASE datass")

In [8]:
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('datass',)
('de',)
('family',)
('information_schema',)
('mysql',)
('performance_schema',)
('pozent',)
('sales',)
('sys',)

In [ ]:
mycursor.execute("show tables")
for x in mycursor:
    print (x)